body {
  position: relative;
}

/* Barra de navegación */

nav {
  font-family: 'Raleway', sans-serif;
}


/* Sección quiénes somos */

#quienes-somos {
  font-family: 'Raleway', sans-serif;
}

#quienes-somos i {
  font-size: 30px;
  padding: 5px;
}


/* Seccion destacados */

#destacados {
  font-family: 'Raleway', sans-serif;
}

.card img {
  height: 150px;
}


/* Sección contacto */

#contacto {
  font-family: 'Raleway', sans-serif;
}


/* Pie de página */

footer {
  height: 100px;
  font-family: 'Raleway', sans-serif;
}

.footer-texto {
  font-size: 1.5rem;
  margin-top: 30px;
  }
  
.iconos-redes-sociales a {
  text-decoration: none;
}

.iconos-redes-sociales i {
  color: #fff;
  font-size: 1.75rem;
  margin-right: 10px;
  padding-top: 35px;
}